
export const config = {
    twitter: {
        appKey: '',
        appSecret: '',
        accessToken: '',
        accessSecret: '',
    },
    // ShapeDiver Geometry Backend Model to use
    shapediver: {
        modelViewUrl: '',
        ticket: '',
    }
}
